

<div class="container">
        <h6>
        <div class="row">
                <div class="col">
                        Nombre
                </div>
                <div class="col">
                        Categoria
                </div>
                <div class="col">
                        Volumen
                </div>
                <div class="col">
                        Peso
                </div>
                <div class="col">
                        Proveedor
                </div>
                <div class="col">
                        Cantidad
                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>

        </div>
        </h6>
        <% for(let i of allProducts){%>
        <div class="row">
                <div class="col">
                        <%= i.Name %>
                </div>
                <div class="col">
                        <%= i.Category %>
                </div>
                <div class="col">
                        <%= i.Volume %>
                </div>
                <div class="col">
                        <%= i.Weight %>
                </div>
                <div class="col">
                        <%= i.Supplier %>
                </div>
                <div class="col">
                        <%let thisStock = []
                                for(let j of stock) {
                                        if (j.product.id == i.id) {
                                                thisStock.push(j);
                                        }
                                }
                        %>
                        <%= thisStock.length;%>
                </div>
                <div class="col">
                        <a href="/Buy/<%= i.id%>">Comprar</a>
                </div>
                <div class="col">
                        <a href="/Sell/<%= i.id%>">Vender</a>
                </div>
        </div>
                <%} %>
</div>
